[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/prashant-sankhla
[access "refs/for/refs/*"]
	read = group user/prashant-sankhla
	push = group user/prashant-sankhla
	label-Code-Review = -2..+2 group user/prashant-sankhla
	label-Verified = -1..+1 group user/prashant-sankhla
	rebase = group user/prashant-sankhla
	removeReviewer = group user/prashant-sankhla
	submit = group user/prashant-sankhla
[access "refs/heads/*"]
	read = group user/prashant-sankhla
	create = group user/prashant-sankhla
	push = +force group user/prashant-sankhla
	pushMerge = group user/prashant-sankhla
[access "refs/tags/*"]
	push = +force group user/prashant-sankhla
	pushTag = group user/prashant-sankhla
	pushSignedTag = group user/prashant-sankhla
